{% block sidebar %}

<div class="col-12 col-md-6 col-lg-4 float-right">
    <div class="card my-1.5">
        <h5 class="card-header">Titre</h5>
        <div class="card-body">
            <p class="card-text">ezfjbfjezbybguyguygezcutvgtzevtvezytqsftzhsuzehqjygtyszfyhszugtsuqzftysezvy u vgzetgferaaccztetfvft
                zeagyuaezfyuguizheuiadhiyferuyhfeifouirhd'"fu-g"'fdhiu"'h'd"odjiufg'-"yduit"éèihh
            </p>
            <a href="URL SITE CROMIMI" class="btn btn-primary">Voir nos Cromimis</a>
        </div>
    </div>
</div>
            

{% endblock sidebar %}